<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amazean</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="grid-container">
      <!-- nav part starts -->
      <header class="row">
        <div>
          <a class="brand" href="index.html">amazean</a>
        </div>
        <div>
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>
      <!-- nav part ends -->
      <!--main part starts-->
      <main>
        <div class="row center">
          <div class="card">
            <a href="product.html">
              <img class="medium" src="images/p1.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Nike Slim Shirts</h2>
              </a>
              <div class="rating">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <!--card2-->
          <div class="card">
            <a href="product.html">
              <img class="medium" src="images/p1.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Nike Slim Shirts</h2>
              </a>
              <div class="rating">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star-half-alt"></i></span>
                <span><i class="far fa-star"></i></span>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <!--card3-->
          <div class="card">
            <a href="product.html">
              <img class="medium" src="images/p1.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Nike Slim Shirts</h2>
              </a>
              <div class="rating">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <!--card4-->
          <div class="card">
            <a href="product.html">
              <img class="medium" src="images/p1.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Nike Slim Shirts</h2>
              </a>
              <div class="rating">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <!--card5-->
          <div class="card">
            <a href="product.html">
              <img class="medium" src="images/p1.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Nike Slim Shirts</h2>
              </a>
              <div class="rating">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
        </div>
      </main>
      <!--main part ends-->
      <!--footer starts-->
      <footer class="row center">All rights reseved - Yeasin</footer>
      <!--footer part ends-->
    </div>
  </body>
</html>
